@media (min-width:790px) and (max-width: 2560px) {
    * {
        border: none;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        position: relative;
        padding: 20px;
    }

    header {
        background-color: red;
        text-align: center;
        padding: 20px;
        margin: 0.5rem;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .hero {
        position: relative;
    }

    .hero img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .data,
    .weather {
        position: absolute;
        width: 300px;
        margin-right: 1rem;
        border-radius: 10px;
        background-color: white;
    }

    h2 {
        text-align: left;
        font-size: 1.5rem;
        padding: 15px;
        color: white;
        background-color: green;
        margin: 0.5rem;
        margin-left: 0;
        position: relative;
    }

    .weather img {
        display: none;
    }

    .data {
        margin-top: 8rem;
        margin-left: 1rem;
        top: 20px;
        left: 20px;
    }

    .weather {
        margin-top: 15rem;
        right: 20px;
        top: 20px;
    }

    .data-list {
        list-style-type: none;
        padding: 1rem;
        text-align: center;
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    .data-list li {
        display: flex;
        align-items: flex-start;
        line-height: 1.5rem;
        font-weight: normal;
    }

    .data-list li span:first-child {
        font-weight: bold;
    }

    .data-list li span[data-value]::after {
        /*display data value content */
        content: attr(data-value);
        color: #000;
        font-weight: normal;
        white-space: nowrap;
    }

    .weather h2::after {
        content: "☁️";
        vertical-align: middle;
        margin-right: 10px;
    }

    footer {
        background-color: red;
        text-align: center;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 20px;
    }
}