@media screen and (max-width:500px) {

    body {
        background-color: white;
    }

    /* to hide navigation in a small screen */

    .menu {
        font-size: 1.5rem;
        background-color: none;
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .menu::before {
        content: "☰";
    }

    .menu.open::before {
        content: "❎";
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        color: #fff;
        background-color: red;
    }


    .navigation a {
        display: none;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .navigation a:hover {
        color: red;
        text-decoration: wavy;
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1fr);
        background-color: wheat;
        margin-top: 0.5rem;
    }

    .footer{
        align-items: center;
        justify-content: center;
        
    }
}